/*@font-face {
  font-family: "symmingliu";
  src: url('chrome://bbsfox/skin/symmingliu.woff');
}*/

#BBSWindow {
  position:absolute;
  width:0px;
  height:0px;
  top:0px;
  left:0px;
  overflow:hidden;
  z-index:1;
  -moz-user-select: text;
  user-select: text;
}

.y {
  background-image:url("chrome://bbsfox/skin/link_line/http.bmp");
  background-repeat: repeat-x;
  background-position: 0% 90%;
}

.bluFade {
  opacity: var(--blacklist);
}

.testElem {
  white-space: pre;
  left:-10000px;
  top:-10000px;
  position:absolute;
  overflow: hidden;
}

.main {
  font-family: MingLiu, monospace;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}

.linkurl {
  text-decoration:underline;
  color:#FF00FF;
}

a {
  background-image:url("chrome://bbsfox/skin/link_line/http.bmp");
  background-repeat: repeat-x;
  background-position: 0% 90%;
  text-decoration:none;
}

a:link,a:visited,a:active,a:hover {
  background-position: 0% 90%;
  text-decoration:none;
}

@keyframes blinkBgColor {
    0% {opacity: 1;}
    50% {opacity: 1;}
    51% {opacity: 0;}
    100% {opacity: 0;}
}

.terminal_display {
  white-space: pre;
  cursor: text;
  position: absolute;
  color: #FFFFFF;
  pointer-events:none;
  margin-top:0.1%;
  -moz-user-select: none;
  user-select: none;
  animation: blinkBgColor 1s infinite linear;
}

img{background:white; color:black; padding:5px 5px;}
body{color: white;background-color: var(--bbscolor-0);margin: 0px;overflow:hidden;}
span [link="true"]{margin: 0px; background-image: inherit; background-repeat: inherit; background-position: inherit;}
span{margin: 0px;}
.drag{display: none; position: absolute; cursor: default; z-index: 11;}

.symbolInput{
  z-index: 3;
  left: 10px;
  top: 10px;
  background-color: #bbbbff;
  padding: 3px;
  border: 0px double #cccccc;
  border-radius: 8px;
  cursor: default;
  display: block;
}

.ansiColorTool{
  z-index: 3;
  left: 10px;
  top: 10px;
  color: #000000;
  background-color: #ffff99;
  padding: 3px;
  border: 0px double #cccccc;
  border-radius: 8px;
  cursor: default;
  display: block;
}

.picViewer{
  z-index: 5;
  left: 10px;
  top: 10px;
  background-color: #bbffbb;
  padding: 3px;
  border: 1px double #00ff00;
  cursor: default;
}

.closeWindowBtn {
  float: right;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border: 0px;
  padding: 1px 1px;
  background-repeat: no-repeat;
  cursor: default;
  background-image: url("chrome://bbsfox/skin/window_icon/close.png");
}

.closeWindowBtn:hover {
  background-image: url("chrome://bbsfox/skin/window_icon/close-h.png");
}

.closeWindowBtn:active {
  background-image: url("chrome://bbsfox/skin/window_icon/close-a.png");
}

#PicturePreviewInfo{
  color : #fff;
  text-shadow: 0 0 1px #fff,0 0 2px #fff,0 0 3px #fff,0 0 4px #0000ff,0 0 7px #0000ff,0 0 8px #0000ff,0 0 10px #0000ff,0 0 15px #0000ff;
}

#PictureWindow {
  left: 10px;
  top: 10px;
  z-index: 3;
  background-color: #ffffff;
  padding: 3px;
  border:0px;
  border-radius:6px;
  cursor: default;
}

.floatWindowClientArea {
  background-color: #ffffff;
  margin-top:22px;
  margin-left:3px;
  margin-right:3px;
  margin-bottom:3px;
  border: 1px solid #000000;
  cursor: default;
}

.floatWindowClientArea4 { /*picturePreview*/
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
  position: relative;
}

.floatWindowClientArea5 {
  background-color: #bbffbb;
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  cursor: default;
}

.picturePreview {background:white; color:black; padding:0px;margin: 0px;}

.sBtn{
  font-family: "MingLiU, Osaka-Mono, monospace";
  font-size: 12px;
  cursor: default;
  min-width: 26px;
  margin-top:2px;
  margin-left:2px;
  margin-right:2px;
  margin-bottom:2px;
}

.colorBtn{
  border-radius: 0px;
  border-color: #FFF;
  border-width: 2px;
  border-style: solid;
  width: 26px;
  height: 22px;
}

.colorPreview{
  width: 30px;
  height: 30px;
  color: #FFF;
  background: #000;
  margin: 2px 5px;
  padding: 5px;
}
